<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site com flexbox</title>
    <link rel="stylesheet" href="estilo3.css">
</head>
<body>
    <div id="main">
        <div id="cabecalho">
            Isso é um cabeçalho
        </div>
        <div id="section">
             <div id="article">
                <div class="card">
                    <div class="personagem">Mario Bros</div>
                    <div class="foto">
                        <img src="mario.jpg"
                            width="100px" height="100px">
                    </div>
                    <div class="texto">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam natus, 
                            ea hic ipsa aperiam atque consequatur commodi et minima non optio ullam, voluptatem 
                            nesciunt! Molestiae molestias asperiores aliquam perspiciatis.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi illum voluptate?
                             Cupiditate rerum velit repellendus vel itaque distinctio repellat ratione impedit odio? 
                             Deserunt iste mollitia necessitatibus quae suscipit est!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="personagem">Mario Bros</div>
                    <div class="foto">
                        <img src="mario.jpg"
                            width="100px" height="100px">
                    </div>
                    <div class="texto">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam natus, 
                            ea hic ipsa aperiam atque consequatur commodi et minima non optio ullam, voluptatem 
                            nesciunt! Molestiae molestias asperiores aliquam perspiciatis.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi illum voluptate?
                             Cupiditate rerum velit repellendus vel itaque distinctio repellat ratione impedit odio? 
                             Deserunt iste mollitia necessitatibus quae suscipit est!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="personagem">Mario Bros</div>
                    <div class="foto">
                        <img src="mario.jpg"
                            width="100px" height="100px">
                    </div>
                    <div class="texto">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti numquam natus, 
                            ea hic ipsa aperiam atque consequatur commodi et minima non optio ullam, voluptatem 
                            nesciunt! Molestiae molestias asperiores aliquam perspiciatis.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nisi illum voluptate?
                             Cupiditate rerum velit repellendus vel itaque distinctio repellat ratione impedit odio? 
                             Deserunt iste mollitia necessitatibus quae suscipit est!</p>
                    </div>
                </div>
            </div>
        
        </div>
        <div id="rodape">
            Isso é um rodapé
        </div>
    </div>
    
</body>
</html>